<!DOCTYPE HTML>
<!--
	Striped by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<!-- Header Partials -->
	<%- include('./partials/header.ejs') %>

	<body class="is-preload">

		<!-- Content -->
			<div id="content">
				<div class="inner">

					<!-- Post -->
                    <article class="box post post-excerpt">
                        <header>
                            <!--
                                Note: Titles and subtitles will wrap automatically when necessary, so don't worry
                                if they get too long. You can also remove the <p> entirely if you don't
                                need a subtitle.
                            -->
                            <h2><%= post.title %></h2>
                            <p><%= post.caption %></p>
                        </header>
                        <div class="info">
                            <!--
                                Note: The date should be formatted exactly as it's shown below. In particular, the
                                "least significant" characters of the month should be encapsulated in a <span>
                                element to denote what gets dropped in 1200px mode (eg. the "uary" in "January").
                                Oh, and if you don't need a date for a particular page or post you can simply delete
                                the entire "date" element.
                    
                            -->
                            <span class="date"><%= moment(post.createdAt).format('MMMM Do YYYY'); %></span>
                            <!--
                                Note: You can change the number of list items in "stats" to whatever you want.
                            -->
                            <ul class="stats">
                                <li><a href="#" class="icon fa-comment">16</a></li>
                                <li><a href="#" class="icon fa-heart">32</a></li>
                                <li><a href="#" class="icon brands fa-twitter">64</a></li>
                                <li><a href="#" class="icon brands fa-facebook-f">128</a></li>
                            </ul>
                        </div>
                        <a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
                        <%- post.body %>
                    </article>

				</div>
			</div>

		<!-- Sidebar -->
        
        <%- include('./partials/sidebar.ejs') %>
        
		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>